<h3>Product Details</h3>
<div class="container">
    <div class="row">
      <div class="table-responsive">
        <table datatable class="table table-striped table-bordered table-sm row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th scope="col" class="idrowhidden">(ID)</th>
              <th scope="col">#</th>
              <th scope="col">Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit Price</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsComponent">
              <th scope="row" class="idrowhidden">{{product.id}}</th>
              <th scope="row">{{product.ref}}</th>
              <td>{{product.name}}</td>
              <td>{{product.qty}}</td>
              <td>{{product.unitPrice}}</td>
              <td class="text-center">
                  <div class="list-icons">
                      <div class="dropdown">
                          <a href="#" class="list-icons-item" data-toggle="dropdown">
                              <i class="icon-menu9"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                              <a id="pu-{{product.id}}" class="dropdown-item editproduct" data-toggle="modal" data-target="#updateModalProduct" (click) = "onClickUpdate(product.id)"><i class='fa fa-edit green-color'></i></a>
                              <a id="pr-{{product.id}}" class="dropdown-item removeproduct" data-toggle="modal" data-target="#removeProductModal" (click) = "onClickDelete(product.id)"><i class="fa fa-trash red-color"></i></a>
                          </div>
                      </div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- To show a modal box to update a record-->
      <div class="modal" id="updateModalProduct" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Product</h5>
              <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="form-sm" [formGroup]="productUpdateForm" (ngSubmit)="onSubmit()">
              <div class="modal-body">
                <div class="form-group">
                  <label class="idrowhidden" for="id">(ID):</label>
                  <input type="hidden" class="form-control" id="id" formControlName="id" />
                  <label for="ref">Code:</label>
                  <input type="text" class="form-control" id="ref" formControlName="ref" />
                  <!--<div class="alert alert-danger" *ngIf="productUpdateForm.get('ref').invalid
                    && productUpdateForm.get('ref').touched">
                    <div *ngIf="productUpdateForm.get('ref').errors.required">
                      Reference Code is required.
                    </div>
                    <div *ngIf="productUpdateForm.get('ref').errors.minlength">
                      First Name must be at least 5 characters long.
                    </div>
                  </div>-->
                </div>
                <div class="form-group">
                  <label for="name">Description:</label>
                  <input type="text" class="form-control" id="name" formControlName="name" />
                <!--<div class="alert alert-danger" *ngIf="f[name].errors['required']">
                      Name is required.
                  </div>-->
                </div>
                <div class="form-group">
                  <label for="qty">Quantity:</label>
                  <input type="number" class="form-control" id="qty" placeholder="Quantity" formControlName="qty" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" onpaste="return false" min="0" />
                </div>
                <div class="form-group">
                  <label for="unitPrice">Unit Price:</label>
                  <input type="number" class="form-control" id="unitPrice" placeholder="Unit price" formControlName="unitPrice" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" onpaste="return false" min="0" />
                </div>
                <!--<div class="form-group">
                  <label for="startDate">Start Date</label>
                  <input type="date" class="form-control" id="startDate"
                  formControlName="startDate">
                </div>
                <div class="form-group">
                  <label for="userType">User Type</label>
                  <select class="form-control" id="userType"
                  formControlName="userType">
                    <option *ngFor="let type of userTypes" [value]="type">{{type}}</option>
                  </select>
                </div>-->
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-success btn-save"><i class="fa fa-save"></i>Save</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i>Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End modal Update -->
      <!-- Modal Delete -->
      <div class="modal fade" id="removeProductModal" data-backdrop="static" tabindex="-2">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-sm" [formGroup]="productDeleteForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                  <p>Voulez-vous supprimer ce produit?</p>
                  <div class="form-group">
                    <label class="idrowhidden" for="id">(ID):</label>
                    <input type="hidden" class="form-control" id="id" formControlName="id" />
                    <label for="ref">Code:</label>
                    <input type="text" class="form-control" id="ref" formControlName="ref" />
                  </div>
                  <div class="form-group">
                    <label for="name">Description:</label>
                    <input type="text" class="form-control" id="name" formControlName="name" />
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-save"><i class="fa fa-save"></i>Accept</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i>Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End modal Delete -->
    </div>
</div>
